<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="../static/ho.png">  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">  
        {%if title%}
            <title> Horse Betting {{title}} </title>
        {% else %}
            <title> Horse Betting </title>
        {% endif %}
    </head>
    <body>
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                <div class="container">
                  <a class="navbar-brand mr-4" href="/home/{{usern}}">Home</a>
                </div>   
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/instructions/{{usern}}">Instructions</a>
                    <a class="nav-item nav-link" href= "/profile/{{usern}}">Profile</a>
                    <a class="nav-item nav-link" href= "/">Logout</a>
                </div>
            </nav>
        </header>  
        <main role="main" class="container">
                <div class="row">
                  <div class="col-md-8">
                    {% block content %}{% endblock %}
                  </div>
                </div>
              </main>
            </body>
</html>