{% extends "layout.html" %}
{% block content %}
    <h3> WIN </h3>
    <br>
    <p>Win Bets:</p>
    <p>-->A win bet means exactly what you think. Simply put, you must select the horse that crosses the finish line first in order to cash a ticket.</p>
    <p>-->Low chance of winning.</p>
    <p>-->If the selected horse wins, you get 3x times the amount you invested.</p>
    <br>
    <h3> PLACE </h3>
    <br>
    <p>Place Bets:</p>
    <p>-->Place bets require your horse to finish either first or second.</p>
    <p>-->Moderate chance of winning</p>
    <p>-->If the selected horses win, you get 2x times the amount you invested.</p>       
    <br>
    <h3> SHOW </h3>
    <br>
    <p>Show Bets:</p>
    <p>-->A show bet is when your horse finishes in first, second, or third.</p>
    <p>-->Good Chance of winning.</p>
    <p>-->Is the selected horses win, you get 1.5x times the amount you invested.</p>
{% endblock content %}
 